@media (min-width: 1000px) {
  .btn:focus-visible,
  .btn:hover {
    background-color: #FFB84D;
    outline: none;
  }

  /* .header__left-block:focus-within {
    outline: 2px solid #FF9900;
  } */

  .header__link-img {
    outline: 2px solid #FF9900;
  }

  .header__link:focus-visible {
    outline: 2px solid #FF9900;
 }

  .header__link:hover {
    border-bottom: 2px solid #FF9900;
    outline: none;
  }

  .header__search:focus-visible {
    outline: 2px solid #FF9900;
  }

  .header__search:hover .header__icon rect {
    fill: #FF9900;
    outline: none;
  }

  .header__search:hover .header__icon path {
    stroke: #FF9900;
    outline: none;
  }

  .about-us__link:focus-visible,
  .about-us__link:hover {
    background-color: var(--order-default-color);
    outline: none;
  }

  .step-list__button:focus-visible {
    outline: 2px solid var(--order-default-color);
  }

  .step-list__button:hover {
    color: var(--order-default-color);
    outline: none;
  }

  .step-block__link:focus-visible,
  .step-block__link:hover {
    color: #fff;

    background-color: #666;
    border: 1px solid #666;
    outline: none;
  }

  .faq__item:first-child > .faq__link:focus-visible,
  .faq__item:first-child > .faq__link:hover {
    border-top: 1px solid var(--order-default-color);
    outline: none;
  }

  .faq__link:focus-visible,
  .faq__link:hover {
    border-top: 1px solid var(--order-default-color);
    border-bottom: 1px solid var(--order-default-color);
    color: var(--order-default-color);
    outline: none;
  }

  .faq__link:focus-visible path,
  .faq__link:hover path {
    fill: #fff;
  }

  .faq__link:focus-visible ellipse,
  .faq__link:hover ellipse {
  fill: var(--order-default-color);
  outline: none;
}


  .footer__link:focus-visible {
    color: #CACACA;
    outline: 2px solid var(--order-default-color);
  }

  .footer__link:hover {
    color: var(--order-default-color);
    outline: none;
  }

  .footer__link:focus-visible path {
    fill: #666;
  }

  .footer__link:hover path {
    fill: var(--order-default-color);
  }

  .form__input:focus-visible,
  .form__input:hover,
  .form__input:active,
  .form__textarea:focus-visible,
  .form__textarea:hover,
  .form__textarea:active {
    background-color: #666;
    outline: none;
  }
}


@media (max-width: 999px) {
  .step-list__button:focus-visible {
    color: #000;
  }

}
