@media (max-width: 620px) {

/* global */

:root {
  --content-font-size: 14px;
  --content-line-height:28px;

  --border-radius-main: 16px;
  --border-radius-second: 8px;
}

  .container {
    margin: 0 15px;
  }

  .btn {
    padding: 12px 28px;

    font-size: 12px;
  }

  .section__heading {
    font-size: 24px;
  }

/* endglobal */

  /* hero */

  .hero {
    padding: 60px 21px;

    text-align: center;
/*
    background: url("../img/max-size-620/hero-pic-320-1.jpg") no-repeat;
    background-size: cover; */
  }

  .hero__main-header {
    margin: 0 auto;
    margin-bottom: 6px;
    max-width: 247px;

    font-size: 20px;
    line-height: 24px;
  }

  .hero__description {
    margin-bottom: 32px;

    font-size: 12px;
    line-height: 15px;
  }

/* endhero */

/* about */

  .about-us__benefits-block {
    margin-bottom: 60px;
  }

  .about-us__content {
    margin-bottom: 14px;
  }

  .about-us__left-block--desktop {
    display: none;
  }

  .about-us__left-block--mobile {
    display: block;

    margin-right: 0;
    margin-bottom: 32px;
    padding-top: 0;
    width: 100%;

    background: none;
    background-size: none;
  }

  .about-us__image-block {
    margin-bottom: 8px;
    height: 290px;
    width: 100%;

    background: url("../img/max-size-620/about-pic-320.jpg") no-repeat;
    background-size: cover;
    border-radius: var(--border-radius-main);
  }

  .about-us__upper-layer {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding: 0;
    max-height: 196px;
    width: 100%;

    background-color: #fff;
    border-radius: var(--border-radius-main);
  }

  .about-us__description {
    margin-right: 0;
    margin-bottom: 12px;
    max-width: 433px;

    color: #000;
  }

  .about-us__link {
    padding: 12px 44px;
    max-width: 162px;

    font-size: 12px;
    font-weight: 700;
    color: #FF9900;

    border: 2px solid #FF9900;
    border-radius: var(--border-radius-second);

  }

  .about-us__benefits {
    padding: 61px 0 0 0;

    border: none;
  }

  .about-us__benefits:first-child {
    background: url("../img/about-icon-top.svg") no-repeat 0 top;
    background-size: 64px 49px;
  }

  .about-us__benefits:last-child {
    background: url("../img/about-icon-bottom.svg") no-repeat 0 top;
    background-size: 64px 49px;
  }

  .chapter-title {
    margin-bottom: 4px;

    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }

/* endabout */

/* hww */
  .how-we-work__heading {
    margin-bottom: 20px;
  }

  .how-we-work__item:not(:last-child) {
    margin-right: 44px;
  }

  .how-we-work__list,
  .how-we-work__right-block {
    margin-bottom: 16px;
  }

  .step-block__heading {
    margin-bottom: 8px;
  }

  .step-block__button {
    margin-right: 8px;
    padding: 12px 44px;
    max-width: 162px;

    font-size: 12px;
    font-weight: 700;
    line-height: 15px;

    border-radius: var(--border-radius-second);
  }

  .step-block__link {
    padding: 12px 32px;
    max-height: 39px;
    max-width: 118px;

    font-size: 12px;
    line-height: 15px;
  }

  .how-we-work__step-block {
    margin-bottom: 60px;
  }
/* endhww */

/* faq */
  .faq__heading {
    margin-bottom: 16px;
  }


  .faq__title {
    font-size: 14px;
  }

  .faq__icon--desktop {
    display: none;
  }

  .faq__icon--mobile {
    display: inline-block;
  }


/* endfaq */

/* footer */

  .footer {
    padding: 33px 0;

    background-color: #222;
    color: #CACACA;
  }

  .footer__container {
    align-items: center;
  }

  .footer__heading {
    margin-bottom: 20px;

    font-size: 24px;
  }

  .form__interactive-elements {
    flex-direction: column;

    padding-bottom: 16px;
    border-bottom: 1px solid #414141;
  }

  .footer__left-block {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .form__textarea {
    margin-bottom: 25px;
  }

  .form__btn {
    margin-right: 0;
  }

  .label-checkbox__text {
    font-size: 16px;
  }

  .footer__logo {
    margin: 0 0 16px 0 ;

    width: 131px;
    height: 42px;
  }

  .footer__icon-social {
    height: 40px;
    width: 40px;
  }

/* endgooter */

}

@media (max-width: 400px) {
  .step-list__button {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
}
