@media (max-width: 1907px) {
  .about-us__left-block {
    padding-top: 25%;
  }

  .about-us__benefits {
    padding-left: 240px;
    padding-right: 76px;

  }

  .about-us__benefits:first-child {

    background: url("../img/about-icon-top.svg") no-repeat 30px center;
    background-size: 20% auto;
  }

  .about-us__benefits:last-child {
    background: url("../img/about-icon-bottom.svg") no-repeat 30px center;
    background-size: 20% auto;
  }

  .about-us__benefits-content {
    max-width: 480px;
  }
}


@media (max-width: 1727px) {

  .about-us__left-block {
    padding-top: 20%;
  }

  .about-us__left-block {
    background-position: 50% 50%;
  }

  .about-us__benefits {
    padding: 55px 66px 55px 200px;
  }

  .about-us__benefits:first-child {

    background: url("../img/about-icon-top.svg") no-repeat 30px center;
    background-size: 20% auto;
  }

  .about-us__benefits:last-child {
    background: url("../img/about-icon-bottom.svg") no-repeat 30px center;
    background-size: 20% auto;
  }
}



@media (max-width: 1532px) {

  .about-us__upper-layer {
    padding: 25px;
  }

  .about-us__benefits {
    padding: 25px 36px 25px 180px;

  }

}
